<!DOCTYPE  html>
<html>
<head>
    <title>
        <title><%= title %></title>
        <link rel='stylesheet' href='../../stylesheets/style.css'/>
        <link rel="stylesheet" href="../../externalBootstrapFiles/bootstrap.min.css">
    </title>
</head>
<body>
<div>
    <div class="well " style="background-color: #1b6d85; border-radius: 1em">
        <div class="">
            <button class="btn">Home</button>
            <button class="btn"><a href="#">Register</a></button>
            <button class="btn">Contact</button>
            <button class="btn">About us</button>

        </div>
    </div>
    <div class="container"> Contradulation the user is now Approved!</div>
    <div>

    </div>
</div>
</div>
<script src="../../externalBootstrapFiles/jquery.min.js"></script>
<script src="../../externalBootstrapFiles/bootstrap.min.js"></script>
</body>
</html>